.section-container {
    background: #fff;
    border-radius: 12px;
    box-shadow: -2px 20px 49px -21px rgba(0, 0, 0, 0.2);
}

.section-header {
    background: #fff;
    border-radius: 12px;
    padding: 22px;
}
